body{
    background-color: #333;
    color: white
}

#gameMap{
    border: 3px solid white;
    height: 72px;
    margin-bottom: 5px;
}
#gameMap .robot{
    width: 72px;
    height: 72px;
    background-image: url(images/Robot-icon.png);
    display: inline-block;
    
}
#gameMap .wrench{
    width: 72px;
    height: 72px;
    background-image: url(62968-wrench-icon.png);
    display: inline-block;
  

}

.control{
    text-align: center;
}